<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!--全局扫描service-->
    <context:component-scan base-package="com.isme.service.impl"></context:component-scan>
    <!--连接数据源配置-->
    <!--加载配置文件中的配置
<property name="location" value="classpath:jdbc.properties"></property>
通过参数的形式传到org.springframework.beans.factory.config.PropertyPlaceholderConfigurer中
-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"></property>
    </bean>
    <!--配置数据源  数据库的基本配置，数据驱动，连接数据库是什么，以及账号密码-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${driverClassName}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${username}"></property>
        <property name="password" value="${password}"></property>
    </bean>

    <!--mybits与spring进行整合
    sqlSeesionFactory会话工厂
    ref指向的是一个对象，bean标签的id属性
    -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据源位置-->
        <property name="dataSource" ref="dataSource"></property>
        <!--sql文件映射位置-->
        <property name="mapperLocations" value="classpath*:mapper/*.xml"></property>
        <!--实体关系别名映射位置-->
        <property name="typeAliasesPackage" value="com.isme.po,com.isme.dto"></property>
        <!--配置一个分页的插件-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=mysql
                            reasonable=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>
    <!--配置mybatis的接口层-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--扫描接口层-->
        <property name="basePackage" value="com.isme.dao"></property>
        <!--指定会话工厂-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
    <!--配置声明式事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--加载声明式事务管理器-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
</beans>